.main {
  margin-top: 100px;
  &__heading {
    margin-top: 56px;
    padding-bottom: 200px;
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    @media screen and (max-width: 992px) {
      padding-bottom: 60px;
    }
  }
  &__features {
    padding-bottom: 100px;

    @media screen and (max-width: 992px) {
      padding-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
  }

  &__learn {
    margin-bottom: 65px;
    @media screen and (max-width: 992px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
  &__webinar {
    padding-top: 109px;
    padding-bottom: 84px;
    @media screen and (max-width: 992px) {
      padding-top: 80px;
      padding-bottom: 64px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 44px;
    }
    @media screen and (max-width: 576px) {
      padding-top: 40px;
      padding-bottom: 24px;
    }
  }
  &__pricing {
    padding: 85px 0px 115px 0px;
    @media screen and (max-width: 992px) {
      padding: 65px 0px 85px 0px;
    }
    @media screen and (max-width: 768px) {
      padding: 45px 0px 65px 0px;
    }
    @media screen and (max-width: 576px) {
      padding: 25px 0px 35px 0px;
    }
  }
  &__getApp {
    margin-bottom: 100px;
    @media screen and (max-width: 992px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
}

// heading block ---------

.heading {
  &__container {
  }
  &__body {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 900px) {
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      display: block;
      text-align: center;
    }
  }
  &__images {
    position: relative;
    top: 0;
    left: 0;
    flex: 0 1 50%;
    z-index: -1;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__iconIllu {
    width: 650px;
    @media screen and (max-width: 1249px) {
      width: 550px;
    }
    @media screen and (max-width: 1113px) {
      width: 450px;
    }
    @media screen and (max-width: 900px) {
      width: 350px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__iconLamp {
    position: absolute;
    top: 120px;
    left: 40px;
    width: 60px;
    z-index: -1;
    @media screen and (max-width: 1249px) {
      top: 80px;
    }
    @media screen and (max-width: 1113px) {
      top: 40px;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &__iconBook {
    position: absolute;
    top: 10px;
    left: 430px;
    width: 70px;
    z-index: -1;
    @media screen and (max-width: 1113px) {
      top: 0px;
      left: 280px;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &__iconMore {
    position: absolute;
    top: 470px;
    left: 340px;
    width: 270px;

    @media screen and (max-width: 1249px) {
      top: 410px;
      left: 240px;
    }
    @media screen and (max-width: 1113px) {
      display: none;
    }
  }
  &__iconEllipse {
    position: absolute;
    top: 0;
    left: 100px;
    width: 520px;
    @media screen and (max-width: 1113px) {
      width: 420px;
      z-index: -2;
      left: 20px;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &__backImage {
    position: absolute;
    top: 60px;
    left: 0;
    width: 750px;
    z-index: -2;
    @media screen and (min-width: 1937px) {
      display: none;
    }
    @media screen and (max-width: 1505px) {
      top: 140px;
      left: 0;
      width: 600px;
    }
    @media screen and (max-width: 1505px) {
      top: 140px;
      left: 0;
      width: 600px;
    }
    @media screen and (max-width: 1249px) {
      top: 230px;
      left: 0;
      width: 400px;
    }
    @media screen and (max-width: 1113px) {
      top: 180px;
    }
    @media screen and (max-width: 900px) {
      width: 250px;
      top: 280px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__info {
    flex: 0 1 50%;
  }
  &__label {
    max-width: 484px;
    margin-bottom: 24px;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
      margin-bottom: 24px;
    }
  }

  &__text {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 56px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      margin-bottom: 46px;
      padding-right: 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 15px;
      margin-bottom: 36px;
    }
    @media screen and (max-width: 576px) {
      font-size: 14px;
      margin-bottom: 26px;
    }
  }
  &__form {
    margin-bottom: 48px;
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 25px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
  &__suggestions {
  }
}

.form-heading {
  background: #1f2143;
  border-radius: 12px;
  max-width: 506px;
  padding: 12px 12px 12px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__input {
    width: 100%;
    background: #1f2143;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
  }
  &__search {
    background: #282b57;
    border-radius: 6px;
    padding: 10px;
    transition: 0.2s;
    &:hover {
      background: #f5443b;
    }
  }
  @media screen and (max-width: 768px) {
    max-width: none;
  }
}
.suggestions {
  @media screen and (max-width: 479px) {
    display: none;
  }
  &__label {
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }
  &__item {
    font-size: 14px;
    line-height: 150%;
    color: rgba(154, 156, 203, 0.6);
    border: 1px solid rgba(154, 156, 203, 0.6);
    border-radius: 8px;
    padding: 8px 18px;
    &:not(:last-child) {
      margin-right: 24px;
      @media screen and (max-width: 1101px) {
        margin-right: 18px;
      }
    }
    @media screen and (max-width: 1101px) {
      font-size: 12px;
    }
    @media screen and (max-width: 992px) {
      padding: 5px 15px;
    }
    margin-bottom: 24px;
    transition: 0.3s;
    &:hover {
      color: #f5443b;
      border: 1px solid #f5443b;
    }
  }
}

// -----------------------

// features block --------

.features {
  &__container {
  }
  &__body {
    display: flex;
    @media screen and (max-width: 992px) {
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;
    }
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__item {
  }
}

.item-feature {
  display: flex;
  flex: 0 1 33.33333333%;
  @media screen and (max-width: 992px) {
    flex: 0 1 48%;
    flex-direction: column;
    padding: 20px;
  }
  &:not(:last-child) {
    margin-right: 14px;
    @media screen and (max-width: 992px) {
      margin-right: 0px;
    }
  }
  &__image {
    margin-right: 17.5px;
  }
  &__info {
  }
  &__label {
    padding-top: 20px;
    margin-bottom: 23px;
    @media screen and (max-width: 992px) {
      padding-top: 15px;
      margin-bottom: 20px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.6);
  }
}

// -----------------------

// learn block --------

.learn {
  &__container {
  }
  &__body {
  }
  &__heading {
    text-align: center;
    margin-bottom: 84px;
  }
  &__label {
    margin-top: 66px;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    @media screen and (max-width: 992px) {
      font-size: 17px;
    }
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
    @media screen and (max-width: 576px) {
      font-size: 15px;
    }
  }
  &__items {
    display: flex;
    margin-bottom: 46px;
    align-items: flex-start;
    @media screen and (max-width: 1245px) {
      flex-flow: row wrap;
      justify-content: center;
      margin-bottom: 36px;
    }
    @media screen and (max-width: 684px) {
      margin-bottom: 0px;
    }
  }
  &__item {
  }
}

.item-learn {
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  border-radius: 20px;
  padding: 12px;
  border: 3px solid #202246;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;

  &:not(:last-child) {
    margin-right: 32px;
    @media screen and (max-width: 1245px) {
      margin-right: 0px;
      &:nth-child(odd) {
        margin-right: 16px;
      }
    }
    @media screen and (max-width: 684px) {
      margin-right: 0px;
      &:nth-child(odd) {
        margin-right: 0px;
      }
    }
  }
  @media screen and (max-width: 1245px) {
    flex: 0 1 48%;
    margin-bottom: 16px;
  }
  @media screen and (max-width: 684px) {
    flex: 0 1 100%;
    margin-bottom: 30px;
  }
  &__image {
    padding-bottom: 169px;
    & img {
      border-radius: 10px;
    }
    margin-bottom: 24px;
  }
  &__subInfo {
    position: absolute;
    top: 145px;
    left: 25px;
    font-size: 12px;
    line-height: 150%;
    padding: 6px 16px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
  }
  &__type {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #3bf5bd;
    margin-bottom: 8px;
  }
  &__label {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    padding-bottom: 20px;
    border-bottom: 1px solid #292b56;
    margin-bottom: 19px;
  }
  &__person {
  }
  &__button {
    margin-top: 28px;
    margin-bottom: 6px;
    display: inline-flex;
    text-align: center;
    @media screen and (max-width: 1245px) {
      width: 100%;
    }
  }
  &__innerButton {
    text-align: center;
    display: block;
  }
  transition: 0.5s;
}
.person {
  display: flex;
  align-items: center;
  &__image {
    margin-right: 15px;
  }
  &__info {
  }
  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
  }
  &__job {
    font-size: 12px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
  }
}

.learn__innerButton {
  text-align: center;
}
.learn__button {
  display: inline-flex;

  border: 1px solid #f5443b;
  font-size: 16px;
  line-height: 19px;
  color: #f5443b;
  border-radius: 6px;
  padding: 14px 32px;
  &:hover {
    border: 1px solid #000000;
    color: #f5443b;
  }
  background: none;
  @media screen and (max-width: 967px) {
    background: none;
    color: #f5443b;
    &:hover {
      border: 1px solid #000000;
      color: #f5443b;
      background-color: #ffffff;
    }
  }
}

// -----------------------

// webinar block ---------

.webinar {
  &__container {
  }
  &__body {
    text-align: center;
  }
  &__label {
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 104px;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    @media screen and (max-width: 992px) {
      margin-bottom: 74px;
      font-size: 17px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 44px;
      font-size: 16px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 24px;
      font-size: 15px;
    }
  }
  &__images {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 56px;
    @media screen and (max-width: 1278px) {
      position: static;
    }
    @media screen and (max-width: 992px) {
      margin-bottom: 44px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 34px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 14px;
    }
  }
  &__center {
    @media screen and (max-width: 1278px) {
    }
  }
  &__centerImage {
    @media screen and (max-width: 1278px) {
      max-width: 700px;
      width: 100%;
    }
  }
  &__leftImage {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: -1;
    @media screen and (max-width: 1278px) {
      display: none;
    }
  }
  &__rightImage {
    position: absolute;
    top: 80px;
    left: 800px;
    z-index: -1;
    @media screen and (max-width: 1278px) {
      display: none;
    }
  }
  &__seeMore {
    text-align: right;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
  &__seeMoreLink {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #d1d1d7;
    text-shadow: 0px 5px 10px #2e3062;

    &:hover {
      text-decoration: underline;
    }
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../img/icons/arrow-right.svg") 50% 15% no-repeat;
      padding-right: 30px;
    }
  }
}

// -----------------------

// pricing block ---------

.pricing {
  &__container {
  }
  &__body {
  }
  &__label {
    text-align: center;
    margin-bottom: 20px;
    @media screen and (max-width: 992px) {
      margin-bottom: 18px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 16px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 14px;
    }
  }
  &__text {
    text-align: center;
    margin-bottom: 84px;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.4);
    @media screen and (max-width: 992px) {
      margin-bottom: 60px;
      font-size: 17px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
      font-size: 16px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1074px) {
      flex-flow: row wrap;
    }
  }
  &__item {
    display: flex;
    flex-flow: column nowrap;
    &:not(:last-child) {
      margin-right: 42px;
    }
    flex: 0 1 33.33333%;
    background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
    border-radius: 20px;
    padding: 40px 36px;
    border: 3px solid #292b56;
    @media screen and (max-width: 1074px) {
      flex: 1 1 45%;

      &:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 15px;
      }
      &:first-child {
        margin-right: 15px;
      }
    }
    @media screen and (max-width: 679px) {
      flex: 1 1 100%;

      &:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 15px;
      }
      &:first-child {
        margin-right: 0px;
      }
    }
  }
}

.item-pricing {
  &__heading {
    display: flex;
    padding-bottom: 32px;
    margin-bottom: 29px;
    border-bottom: 1px solid #292b56;
  }
  &__icon {
    margin-right: 30px;
  }
  &__value {
  }
  &__format {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
  }
  &__price {
    display: flex;
  }
  &__list {
    flex: 1 1 100%;
    margin-bottom: 30px;
  }
  &__item {
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../img/icons/round.png") center no-repeat;
      padding-left: 27px;
    }
    @media screen and (max-width: 679px) {
      font-size: 12px;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 49px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
  }
}
.price-item {
  &__value {
    font-size: 28px;
    line-height: 150%;
    color: #f5453d;
    font-weight: 700;
  }
  &__value sup {
    font-size: 14px;
    line-height: 150%;
    margin-right: 2px;
  }
  &__time {
    align-self: center;
    margin-top: 10px;
    margin-left: 3px;
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
  }
}
.button-free {
  opacity: 0.5;
  border: 1px solid #f5443b;
  color: #f5443b;
  border-radius: 6px;
  transition: 0.5s;
  &:hover {
    background: #ffffff;
    border: none;
    color: #f5443b;
    opacity: 1;
  }
}
.button-express {
  border: 1px solid #f5443b;
  border-radius: 6px;
  color: #f5443b;
  transition: 0.5s;
  &:hover {
    background: #ffffff;
    border: none;
    color: #f5443b;
  }
}
.button-premium {
  background: #f5443b;
  border-radius: 6px;
  color: #ffffff;
  transition: 0.5s;
  &:hover {
    background: #ffffff;

    color: #f5443b;
  }
}
.premium-item {
  position: relative;

  &__icon {
    position: absolute;
    left: 270px;
    top: -2px;
    border-radius: 16px;
  }
  @media screen and (max-width: 1232px) {
    position: static;
    &__icon {
      display: none;
    }
  }
}

// -----------------------

// pricing block ---------

.getApp {
  &__container {
  }
  &__body {
    padding: 40px 101px 0px 101px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(102.01deg, #23265c 1.96%, #352a56 101.68%);
    border-radius: 40px;
    @media screen and (max-width: 872px) {
      flex-flow: row wrap;
      justify-content: center;
    }
    @media screen and (max-width: 432px) {
      padding: 40px 20px 0px 20px;
    }
  }
  &__info {
    padding-bottom: 30px;
    padding-right: 30px;
    flex: 1 0 500px;
    @media screen and (max-width: 1002px) {
      flex: 1 1 500px;
    }
    @media screen and (max-width: 872px) {
      display: block;
      text-align: center;
      padding-right: 0px;
    }
    @media screen and (max-width: 432px) {
      padding-bottom: 10px;
    }
  }
  &__label {
    font-weight: 600;
    font-size: 47.2727px;
    line-height: 160%;
    color: #ffffff;
    max-width: 451px;
    opacity: 0.7;
    margin-top: 50px;
    margin-bottom: 12px;
    @media screen and (max-width: 1002px) {
      font-size: 34.2727px;
    }
    @media screen and (max-width: 872px) {
      margin: 0 auto;
      margin-bottom: 12px;
      font-size: 28.2727px;
    }
    @media screen and (max-width: 432px) {
      font-size: 20.2727px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.7);
    max-width: 406px;
    margin-bottom: 32px;
    @media screen and (max-width: 1002px) {
      font-size: 16px;
    }
    @media screen and (max-width: 872px) {
      margin: 0 auto;
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    @media screen and (max-width: 872px) {
      justify-content: center;
    }
    @media screen and (max-width: 432px) {
      flex-flow: row wrap;
      justify-content: center;
    }
  }
  &__image {
    align-self: flex-end;
    max-width: 403px;
    & img {
      width: 100%;
    }
    @media screen and (max-width: 872px) {
      display: none;
    }
  }
  &__link {
    cursor: pointer;
    margin-right: 25px;
    @media screen and (max-width: 872px) {
      margin-right: 0px;
      margin: 5px;
    }
  }
}

// -----------------------
